Flask~=3.0
recipe_scrapers~=15.1
gunicorn~=22.0.0

# Edit: Not needed anymore, but kept if happens again
# # There some dependency of recipe_scrapers is incompatible with later versions 
# # (due to not correctly defined in its dependencies)
# lxml==5.1.0
